.navStyle{
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
}

#footerStyle{
    background-color:;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#copyright{
    position: relative;
    padding-left: 45%;
}