    /*Estilização navbar*/

.nav-brand{
    height: 3.2em;
}
.nav{
}

.secao{
    position: relative;
    margin-bottom: 40px;
}
/*Estilização dos cards*/

.card{/*Classe padrão de cards*/
    padding: 40px 20px 20px 20px;
    position: relative;
    border-radius: 25px;
    margin: 3.5%;
} 
.card-1{
    padding-bottom: 132px;
}
.card-2{
    padding-bottom: 57px;
}
.card-2.1{
    padding-bottom: -6px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-4 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 3.5%;
    margin-bottom: 0.5%;
    padding-left: 15px;
    padding-right: 10px;
}
.card-5 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.card-6{
    padding-top: 20px;
}
#bg-card{ /*Background card inicial*/
    background: #B5E8FA;
    padding-bottom: 41px;
}
.bg-faq{/*Background todas as paginas */
    background: #FACEB4;
    background-image: url(images/top-view-of-people-at-the-meeting-3184287\ 1.png);
    border-radius: 25px;
}

.title-div{/*Div de titulos*/
    position: relative;
    margin: 0px 25px 20px 25px;
    padding: 0px 20px 0px 20px;

}
.title-div-2.1{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.title-div-3{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.title-div-5 {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.title{ /*Classe de titulos*/
    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    color: #2F4494;
    margin-bottom: 1.5rem;
    margin-top: 18px;
}
.title-4 {
    margin-bottom: 15px;
    margin-top: 21px;
}
.title-5{
    margin-bottom: 0px;
    margin-top: 13px;
}

#text-div{ /*Caixa de texto inicial*/
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 5px;
    position: relative;
}

.text-content{ /*Caixa de texto inicial*/
    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4494;

    /*local padding*/
    padding-bottom: 15px;
}

#text-draft{ /*Caixa de texto inicial*/
    font-weight: bolder;
}

#btn-start{ /*Botão iniciar teste*/
    position: relative;
    width: 280px;
    height: 76.15px;
    border-radius: 50px;
    background: #2F4494;
    margin: 10% 15% 10% 5%;
    justify-content: center;
    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15%;
    margin-bottom: 32%;
}
.btn-div{
    margin: auto;
    padding: 10px 0px 10px 0px;
    margin:  40px 0px 40px 0px;
}
.btn-div-2.1{
    margin-bottom: 0px;
    margin-top: 0px;
}
.btn-div-3{
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 27px;
}
.btn-div-4 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.btn-div-5 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn-3{
    padding-left: 8px;
    margin-left: 15px;
}
.btn-faq{/*Classe padrão de respostas*/
    position: relative;
    margin: 20px 0px 0px 0px;
    width: 314.47px;
    height: 43.35px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}
.inputFaq{/*Classe padrão de respostas*/
    position: relative;
    margin: 20px 0px 0px 0px;
    width: 314.47px;
    height: 43.35px;
    padding-left: 20px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}
.textInput{/*Classe padrão de respostas*/
    position: relative;
    margin: 20px 0px 0px 0px;
    padding-left: 20px;
    width: 314.47px;
    height: 43.35px;
    justify-content: center;
    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}

#btn-faq-2{    
    position: relative;
    margin: 15px 0px 0px 0px;
    width: 314.47px;
    height: 95px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}
#btn-faq-4{    
    position: relative;
    margin: 20px 0px 0px 0px;
    width: 314.47px;
    height: 120px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}

.btn-faq-5{    
    position: relative;
    margin: 20px 0px 0px 0px;
    width: 314.47px;
    height: 110px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    background: #FFFFFF;
    border-radius: 50px;

}

.btn-back{
    
}
.btn-init-div{
    margin: 10px 10px 10px 10px;
    padding: 10px 5px 15px 0px;
}
.btn-init-div-4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.btn-init-div-5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-init{

    position: relative;
    width: 279.11px;
    height: 40.11px;
    margin: 7.5px 5px 7.5px 5px;

    background: #2F4494;
    border-radius: 50px;

    font-family: Cabin Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

}
#tool{
    padding-left: 18px;
}
#btn-6{
    padding-left: 8px;
    margin-left: 15px;
}
#card-content {
    padding-left: 7px;
    padding-right: 0px;
}
/*Rodapé*/

#footer{
    background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright{
    position: relative;
    padding-left: 40%;
}


.icon{
    width: 4.5%;
}


@media(min-width: 390px){ 
    a {
        text-decoration: none;
    }

    #btn-start{ /*Botão iniciar teste*/
        position: relative;
        width: 280px;
        height: 76.15px;
        border-radius: 50px;
        background: #2F4494;
        margin: 10% 15% 10% 39%;
        justify-content: center;
        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: #FFFF;
    }

    #footer{
        background-color: rgba(0, 0, 0, 0);
        color:rgba(0, 0, 0, 1);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #copyright{
        position: relative;
        padding-left: 46%;
    }

    .text-content{ /*Caixa de texto inicial*/
        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #2F4494;

        /*local padding*/
        padding-bottom: 15px;
    }
    .btn-div{
        margin: auto;
        padding: 10px 0px 10px 0px;
        margin:  40px 0px 40px 0px;
    }

    .btn-faq{/*Classe padrão de respostas*/
        position: relative;
        margin: 20px 0px 0px 490px;
        width: 314.47px;
        height: 43.35px;
        text-align: center;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        background: #FFFFFF;
        border-radius: 50px;
    }

    .btn-init-div{
        margin: 10px 10px 10px 500px;
        padding: 10px 5px 15px 0px;
    }

    .btn-init{

        position: relative;
        width: 279.11px;
        height: 40.11px;
        margin: 7.5px 30px 7.5px 5px;

        background: #2F4494;
        border-radius: 50px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;

    }

    .btn-init1{

        position: relative;
        width: 279.11px;
        height: 40.11px;
        margin: 7.5px 400px 7.5px 5px;

        background: #2F4494;
        border-radius: 50px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

    }

    .btn-continuar{
        position: relative;

        background: #2F4494;
        border-radius: 50px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;

    }

    #btn-faq-4{    
        position: relative;
        margin: 20px 0px 0px 500px;
        width: 314.47px;
        height: 120px;
        text-decoration: none;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        background: #FFFFFF;
        border-radius: 50px;

    }
    .btn-faq-5{    
        position: relative;
        margin: 20px 0px 0px 500px;
        width: 314.47px;
        height: 110px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        background: #FFFFFF;
        border-radius: 50px;

    }

    .Agradec{
        position: relative;
        margin: 20px 0px 0px 1000px;
        width: 314.47px;
        height: 43.35px;
        padding-left: 20px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #000000;

        background: #FFFFFF;
        border-radius: 50px;

    }

    #btn-faq-2{    
        position: relative;
        margin: 15px 0px 0px 480px;
        width: 314.47px;
        height: 95px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        background: #FFFFFF;
        border-radius: 50px;

    }

    .btn-recomen{
        position: relative;
        margin-left: 520px; 
        background: #2F4494;
        border-radius: 50px;

        font-family: Cabin Condensed;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;

    }
   



}

